<app-navbar-dark></app-navbar-dark>
<div class="belly-bredcrumb-section">
    <div class="container">
        <ul class="breadcrumb">
            <li><a routerLink='/home'>Home</a></li>
            <li><a routerLink='/contact'>Contact</a></li>
        </ul>
    </div>
</div>
<div class="contact_area pt--40">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="gogle_map">
                    <div id="googleMap">

                    </div>
                </div>
            </div>
        </div> -->
        <div class="row pt--100 pb--80">
            <div class="col-lg-5 col-md-5 col-12">
                <div class="contact_adress">
                    <div class="ct_address">
                        <h3 class="ct_title">Location & Details</h3>
                        <p>It is a long established fact that readewill be distracted by the readable content of a page when looking at ilayout.</p>
                    </div>

                    <div class="address_wrapper">

                        <div class="address">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="contact-info-text">
                                <p><span>Address:</span> 1234 - Bandit Tringi lAliquam <br> Vitae. New York</p>
                            </div>
                        </div>

                        <div class="address">
                            <div class="icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="contact-info-text">
                                <p><span>Email: </span> support@example.com </p>
                            </div>
                        </div>

                        <div class="address">
                            <div class="icon">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="contact-info-text">
                                <p><span>Phone:</span> (800) 0123 456 789 </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-12 sm-mt--30">

                <div class="contact_form">
                    <h3 class="ct_title">Send Us a Message</h3>

                    <form id="contact-form" action="http://demo.hasthemes.com/belly-v5/belly/plugins/php/mail.php" method="post" class="form-box-1">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Your Name <span class="required">*</span></label>
                                    <input type="text" name="customerName" id="customername" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Your Email <span class="required">*</span></label>
                                    <input type="email" name="customerEmail" id="customerEmail" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" name="contactSubject" class="form-control" id="contactSubject">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Your Message</label>
                                    <textarea name="contactMessage" class="form-control" id="contactMessage"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-btn">
                                    <button type="submit" class="theme-btn-outlined" value="submit" id="submit" class="fl-btn" name="submit">send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-output">
                        <p class="form-messege"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>