<app-navbar-dark></app-navbar-dark>
<div class="belly-bredcrumb-section">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Cart</a></li>
        </ul>
    </div>
</div>


<!-- Cart Page Start -->
<div class="cart_area cart-area-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive mb--40">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Image</th>
                                    <th class="pro-title">Product</th>
                                    <th class="pro-price">Price</th>
                                    <th class="pro-quantity">Quantity</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="pro-thumbnail">
                                        <a href="#"><img src="../../../assets/image/products/home-1/product-1.jpg" alt="Product"></a>
                                    </td>
                                    <td class="pro-title"><a href="#">Rinosin Glasses</a></td>
                                    <td class="pro-price"><span>$395.00</span></td>
                                    <td class="pro-quantity">
                                        <div class="pro-qty">
                                            <div class="count-input-block">
                                                <input type="number" class="form-control text-center" value="1">
                                                <div class="count-input-btns">
                                                    <button class="inc-ammount count-btn">+</button>
                                                    <button class="dec-ammount count-btn">-</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pro-subtotal"><span>$395.00</span></td>
                                    <td class="pro-remove"><a href="#"><i class="far fa-trash-alt"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="pro-thumbnail">
                                        <a href="#"><img src="../../../assets/image/products/home-1/product-2.jpg" alt="Product"></a>
                                    </td>
                                    <td class="pro-title"><a href="#">Silacon Glasses</a></td>
                                    <td class="pro-price"><span>$275.00</span></td>
                                    <td class="pro-quantity">
                                        <div class="pro-qty">
                                            <div class="count-input-block">
                                                <input type="number" class="form-control text-center" value="1">
                                                <div class="count-input-btns">
                                                    <button class="inc-ammount count-btn">+</button>
                                                    <button class="dec-ammount count-btn">-</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pro-subtotal"><span>$550.00</span></td>
                                    <td class="pro-remove"><a href="#"><i class="far fa-trash-alt"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="pro-thumbnail">
                                        <a href="#"><img src="../../../assets/image/products/home-1/product-3.jpg" alt="Product"></a>
                                    </td>
                                    <td class="pro-title"><a href="#">Easin Glasses</a></td>
                                    <td class="pro-price"><span>$295.00</span></td>
                                    <td class="pro-quantity">
                                        <div class="pro-qty">
                                            <div class="count-input-block">
                                                <input type="number" class="form-control text-center" value="1">
                                                <div class="count-input-btns">
                                                    <button class="inc-ammount count-btn">+</button>
                                                    <button class="dec-ammount count-btn">-</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pro-subtotal"><span>$295.00</span></td>
                                    <td class="pro-remove"><a href="#"><i class="far fa-trash-alt"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="pro-thumbnail">
                                        <a href="#"><img src="../../../assets/image/products/home-1/product-4.jpg" alt="Product"></a>
                                    </td>
                                    <td class="pro-title"><a href="#">Macrox Glasses</a></td>
                                    <td class="pro-price"><span>$220.00</span></td>
                                    <td class="pro-quantity">
                                        <div class="pro-qty">
                                            <div class="count-input-block">
                                                <input type="number" class="form-control text-center" value="1">
                                                <div class="count-input-btns">
                                                    <button class="inc-ammount count-btn">+</button>
                                                    <button class="dec-ammount count-btn">-</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pro-subtotal"><span>$220.00</span></td>
                                    <td class="pro-remove"><a href="#"><i class="far fa-trash-alt"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </form>

                <div class="row">

                    <div class="col-lg-6 col-12 mb--15">
                    </div>
                    <div class="col-lg-6 col-12 mb--40 d-flex">
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Cart Summary</h4>
                                <p>Sub Total <span>$1250.00</span></p>
                                <p>Shipping Cost <span>$00.00</span></p>
                                <h2>Grand Total <span>$1250.00</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                <button class="checkout-btn">Checkout</button>
                                <button class="update-btn">Update Cart</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->