<app-navbar-dark></app-navbar-dark>
<div class="belly-bredcrumb-section">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Accumsan Elit</a></li>
        </ul>
    </div>
</div>
<section class=" section-padding pt-0">
    <div class="container">
        <div class="belly-product belly-product--details product-details--left-thumbnail">
            <div class="row">
                <div class="col-md-5">
                    <div class="product__image">
                        <div class="product-image-main">
                            <img id="zoom_03" src="../../../assets/image/products/single-product/single-product-big-1.jpg" data-zoom-image="image/products/single-product/single-product-big-1.jpg" />
                        </div>
                        <div id="product-view-gallary" class="product-view-slider product-view-standered-slider-2">

                            <a href="#" class="gallary-item" data-image="image/products/single-product/single-product-1.jpg" data-zoom-image="image/products/single-product/single-product-big-1.jpg">
                                <img src="../../../assets/image/products/single-product/single-product-1.jpg" />
                            </a>

                            <a href="#" class="gallary-item" data-image="image/products/single-product/single-product-2.jpg" data-zoom-image="image/products/single-product/single-product-big-2.jpg">
                                <img src="../../../assets/image/products/single-product/single-product-1.jpg" />
                            </a>

                            <a href="#" class="gallary-item" data-image="image/products/single-product/single-product-3.jpg" data-zoom-image="image/products/single-product/single-product-big-3.jpg">
                                <img src="../../../assets/image/products/single-product/single-product-2.jpg" />
                            </a>

                            <a href="#" class="gallary-item" data-image="image/products/single-product/single-product-4.jpg" data-zoom-image="image/products/single-product/single-product-big-4.jpg">
                                <img src="../../../assets/image/products/single-product/single-product-3.jpg" />
                            </a>
                            <a href="#" class="gallary-item" data-image="image/products/single-product/single-product-4.jpg" data-zoom-image="image/products/single-product/single-product-big-4.jpg">
                                <img src="../../../assets/image/products/single-product/single-product-4.jpg" />
                            </a>

                            <a href="#" class="gallary-item" data-image="image/products/single-product/single-product-4.jpg" data-zoom-image="image/products/single-product/single-product-big-4.jpg">
                                <img src="../../../assets/image/products/single-product/single-product-3.jpg" />
                            </a>
                            <a href="#" class="gallary-item" data-image="image/products/single-product/single-product-4.jpg" data-zoom-image="image/products/single-product/single-product-big-4.jpg">
                                <img src="../../../assets/image/products/single-product/single-product-4.jpg" />
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-7">

                    <div class="product-description">
                        <h3 class="product__caption">Accumsan Elit</h3>
                        <div class="product__price">
                            <span class="price--new">$350</span>
                        </div>
                        <div class="product-description--list">
                            <br>
                            <p>Ex Tax: $320.00</p>
                            <br>
                            <p>Brands <a href="#" class="brand-tag text-primary">Hewlett-Packard</a></p>
                            <p>SKU: <span class="text-primary">003</span> </p>
                            <p>Availability: <span class="text-primary">In Stock</span></p>
                        </div>
                        <div class="product-description--breif">
                            <p>
                                Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus
                                adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, p..
                            </p>
                        </div>
                        <div class="product-buttons--group ">
                            <div class="single-btn-block count-input-block">
                                <input type="number" class="form-control text-center" value="1">
                                <div class="count-input-btns">
                                    <button class="inc-ammount count-btn">+</button>
                                    <button class="dec-ammount count-btn">-</button>
                                </div>
                            </div>
                            <div class="single-btn-block">
                                <a href="cart-light.html" class="theme-btn ">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="section-padding single-product-review pt-0">
    <div class="container">
        <div class="belly-review-tab">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Description</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet
                        congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer enim purus, posuere at ultricies eu,
                        placerat a felis. Suspendisse aliquet urna pretium eros convallis interdum. Quisque in arcu id dui vulputate mollis eget non arcu. Aenean et nulla purus. Mauris vel tellus non nunc mattis lobortis.Nunc facilisis sagittis ullamcorper.
                        Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing
                        nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer enim purus, posuere at ultricies eu, placerat a felis. Suspendisse
                        aliquet urna pretium eros convallis interdum. Quisque in arcu id dui vulputate mollis eget non arcu. Aenean et nulla purus. Mauris vel tellus non nunc mattis lobortis</p>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                            <div class="product-reviews">
                                <div class="review-head">
                                    <h3>4.9 <span>(overall)</span> </h3>
                                    <p>Based on 4 Comments</p>
                                </div>
                                <div class="single-review">
                                    <div class="single-review-head">
                                        <span class="name">Cristopher Lee</span>
                                        <div class="rating-widget d-inline-flex">
                                            <span class="single-rating"><i class="ion-md-star"></i></span>
                                            <span class="single-rating"><i class="ion-md-star"></i></span>
                                            <span class="single-rating"><i class="ion-md-star"></i></span>
                                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                                        </div>
                                        <span class="count">(3)</span>
                                    </div>
                                    <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia res eos qui ratione voluptatem sequi Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veli</p>
                                </div>
                                <div class="single-review">
                                    <div class="single-review-head">
                                        <span class="name">Jhon Doe</span>
                                        <div class="rating-widget d-inline-flex">
                                            <span class="single-rating"><i class="ion-md-star"></i></span>
                                            <span class="single-rating"><i class="ion-md-star"></i></span>
                                            <span class="single-rating"><i class="ion-md-star"></i></span>
                                            <span class="single-rating"><i class="ion-md-star"></i></span>
                                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                                        </div>
                                        <span class="count">(4)</span>
                                    </div>
                                    <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia res eos qui ratione voluptatem sequi Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veli</p>
                                </div>
                                <div class="single-review">
                                    <div class="single-review-head">
                                        <span class="name">Shine Chee</span>
                                        <div class="rating-widget d-inline-flex">
                                            <span class="single-rating"><i class="ion-md-star"></i></span>
                                            <span class="single-rating"><i class="ion-md-star"></i></span>
                                            <span class="single-rating"><i class="ion-md-star"></i></span>
                                            <span class="single-rating"><i class="ion-md-star"></i></span>
                                            <span class="single-rating"><i class="ion-md-star"></i></span>
                                        </div>
                                        <span class="count">(5)</span>
                                    </div>
                                    <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia res eos qui ratione voluptatem sequi Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veli</p>
                                </div>
                            </div>

                            <div class="review-form pt-4">
                                <div class="review-form-head">
                                    <h4>Add Your Review</h4>
                                    <div class="rating-row pt-2">
                                        <p class="d-inline-block">Rating :</p>
                                        <span class="rating-block">
                                            <input type="radio" name='star' id="star1">
                                            <label for="star1"></label>
                                            <input type="radio" name='star' id="star2">
                                            <label for="star2"></label>
                                            <input type="radio" name='star' id="star3">
                                            <label for="star3"></label>
                                            <input type="radio" name='star' id="star4">
                                            <label for="star4"></label>
                                            <input type="radio" name='star' id="star5">
                                            <label for="star5"></label>
                                        </span>
                                    </div>
                                </div>
                                <form action="#" class="form-box-1">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="email">Email address</label>
                                                <input type="email" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="review">Message</label>
                                                <textarea class="form-control" id="review" rows="3" placeholder="Enter Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-btn">
                                                <button class="theme-btn-outlined">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>