<section class="home-4__welcome-section section-padding pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="welcome__description text-center">
                    <h3 class="welcome__title--sm">Welcome To Belly</h3>
                    <h2 class="welcome__title--mid text-black">Who Are The Best</h2>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue
                        duis dolore te feugait.</p>
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</p>
                    <div class="welcome_sig-image  img-border-bottom">
                        <img src="../../../assets/image/banner/welcome-image.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>