<div class="hero-area">
    <div class="banner-content-wrapper hero-slider-wrapper">
        <div class="banner-content single-slide bg-image text-black" data-bgimage="image/bg-images/home-4/slider-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <h3 class="title--sm title-sm-shadowlight" data-animation="fadeInDown" data-duration="1.5s" data-delay=".8s">Best Choice For Restaurant, Cafe And More...</h3>
                        <h1 class="title--lg title-lg-arvo--bold" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Original Coffee</h1>
                        <p data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Mirum est notare quam littera gothica, quam nunc putamus parum claram, <br> anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                        <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                            <a href="shop-grid--fullwidth-three-light..html" class="theme-btn">Discover Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-content single-slide bg-image text-black" data-bgimage="image/bg-images/home-4/slider-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <h3 class="title--sm title-sm-shadowlight" data-animation="fadeInDown" data-duration="1.5s" data-delay=".8s">Best Choice For Restaurant, Cafe And More...</h3>
                        <h1 class="title--lg title-lg-arvo--bold" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Belly Coffe</h1>
                        <p data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Mirum est notare quam littera gothica, quam nunc putamus parum claram, <br> anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                        <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                            <a href="shop-grid--fullwidth-three-light..html" class="theme-btn">Discover Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-content single-slide bg-image text-black" data-bgimage="image/bg-images/home-4/slider-3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <h3 class="title--sm title-sm-shadowlight" data-animation="fadeInDown" data-duration="1.5s" data-delay=".8s">Best Choice For Restaurant, Cafe And More...</h3>
                        <h1 class="title--lg title-lg-arvo--bold" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Coffee Paper Cup</h1>
                        <p data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Mirum est notare quam littera gothica, quam nunc putamus parum claram, <br> anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                        <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                            <a href="shop-grid--fullwidth-three-light..html" class="theme-btn">Discover Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>