<section class="section-padding testimonial-section bg-image " data-bgimage="image/bg-images/home-4/testimonial-bg.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6 col-md-8 offset-md-4">
                <div class="testimonial-block testimonial-slider">
                    <div class="single-block">
                        <div class="section-title title-seperator-1">
                            <h2 class="testimonial-title">What Clients Say?</h2>
                        </div>
                        <p> " When a beautiful design is combined with powerful technology, it truly is an artwork. I love how my website operates and looks with this theme. Thank you for the awesome product. " ..</p>
                        <div class="testimonial_client-profile">
                            <div class="client-img">
                                <img src="../../../../assets/image/others/client-img-1.jpg" alt="">
                            </div>
                            <div class="client-details">
                                <h6>Megdalena Valencia</h6>
                            </div>
                        </div>
                    </div>
                    <div class="single-block">
                        <div class="section-title title-seperator-1">
                            <h2 class="testimonial-title">What Clients Say?</h2>
                        </div>
                        <p> " When a beautiful design is combined with powerful technology, it truly is an artwork. I love how my website operates and looks with this theme. Thank you for the awesome product. " ..</p>
                        <div class="testimonial_client-profile">
                            <div class="client-img">
                                <img src="../../../../assets/image/others/client-img-1.jpg" alt="">
                            </div>
                            <div class="client-details">
                                <h6>Megdalena Valencia</h6>
                            </div>
                        </div>
                    </div>
                    <div class="single-block">
                        <div class="section-title title-seperator-1">
                            <h2 class="testimonial-title">What Clients Say?</h2>
                        </div>
                        <p> " When a beautiful design is combined with powerful technology, it truly is an artwork. I love how my website operates and looks with this theme. Thank you for the awesome product. " ..</p>
                        <div class="testimonial_client-profile">
                            <div class="client-img">
                                <img src="../../../../assets/image/others/client-img-1.jpg" alt="">
                            </div>
                            <div class="client-details">
                                <h6>Megdalena Valencia</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>