<app-navbar-dark></app-navbar-dark>
<div class="belly-bredcrumb-section">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Category 1</a></li>
        </ul>
    </div>
</div>
<section class="section-padding pt-0">
    <div class="container">

        <div class="shop-product-wrap grid with-pagination row">
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="belly-product product-style-2">
                    <div class="product__image">
                        <img src="../../../assets/image/products/home-4/product-2.jpg" alt="">
                        <div class="hover-content">
                            <a href="product-details-light.html" class="hover-image">
                                <img src="../../../assets/image/products/home-4/product-1.jpg" alt="">
                            </a>
                            <div class="hover-btns">
                                <a href="#" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                <a href="compare-light.html" class="single-btn"><i class="ion-md-options"></i></a>
                                <a href="#" class="single-btn" role="button" class="btn btn-primary" data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                            </div>
                        </div>
                        <span class="product-badge badge--sell-green"></span>
                    </div>

                    <div class="product-contents">
                        <h3 class="product__caption">
                            <a routerLink="/product-details">Fusce Aliquam</a>
                        </h3>
                        <div class="rating-widget">
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star-half"></i></span>
                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                        </div>

                        <div class="product__price">
                            <span class="price--old">$150</span>
                            <span class="price--new">$150</span>
                        </div>
                        <p class="product-info-para">
                            Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..
                        </p>
                        <div class="product__btn">
                            <a routerLink='/cart' class="theme-btn-outlined--type-2">add to cart</a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="belly-product product-style-2">
                    <div class="product__image">
                        <img src="../../../assets/image/products/home-4/product-5.jpg" alt="">
                        <div class="hover-content">
                            <a href="product-details-light.html" class="hover-image">
                                <img src="../../../assets/image/products/home-4/product-2.jpg" alt="">
                            </a>
                            <div class="hover-btns">
                                <a href="#" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                <a href="compare-light.html" class="single-btn"><i class="ion-md-options"></i></a>
                                <a href="#" class="single-btn" role="button" class="btn btn-primary" data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                            </div>
                        </div>
                        <span class="product-badge badge--sell-green"></span>
                    </div>

                    <div class="product-contents">
                        <h3 class="product__caption">
                            <a href="product-details-light.html">Fusce Aliquam</a>
                        </h3>
                        <div class="rating-widget">
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star-half"></i></span>
                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                        </div>

                        <div class="product__price">
                            <span class="price--old">$150</span>
                            <span class="price--new">$150</span>
                        </div>
                        <p class="product-info-para">
                            Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..
                        </p>
                        <div class="product__btn">
                            <a href="cart-light.html" class="theme-btn-outlined--type-2">add to cart</a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="belly-product product-style-2">
                    <div class="product__image">
                        <img src="../../../assets/image/products/home-4/product-3.jpg" alt="">
                        <div class="hover-content">
                            <a href="product-details-light.html" class="hover-image">
                                <img src="../../../assets/image/products/home-4/product-4.jpg" alt="">
                            </a>
                            <div class="hover-btns">
                                <a href="#" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                <a href="compare-light.html" class="single-btn"><i class="ion-md-options"></i></a>
                                <a href="#" class="single-btn" role="button" class="btn btn-primary" data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                            </div>
                        </div>
                        <span class="product-badge badge--sell-green"></span>
                    </div>

                    <div class="product-contents">
                        <h3 class="product__caption">
                            <a href="product-details-light.html">Fusce Aliquam</a>
                        </h3>
                        <div class="rating-widget">
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star-half"></i></span>
                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                        </div>

                        <div class="product__price">
                            <span class="price--old">$150</span>
                            <span class="price--new">$150</span>
                        </div>
                        <p class="product-info-para">
                            Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..
                        </p>
                        <div class="product__btn">
                            <a href="cart-light.html" class="theme-btn-outlined--type-2">add to cart</a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="belly-product product-style-2">
                    <div class="product__image">
                        <img src="../../../assets/image/products/home-4/product-4.jpg" alt="">
                        <div class="hover-content">
                            <a href="product-details-light.html" class="hover-image">
                                <img src="../../../assets/image/products/home-4/product-6.jpg" alt="">
                            </a>
                            <div class="hover-btns">
                                <a href="#" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                <a href="compare-light.html" class="single-btn"><i class="ion-md-options"></i></a>
                                <a href="#" class="single-btn" role="button" class="btn btn-primary" data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                            </div>
                        </div>
                        <span class="product-badge badge--sell-green"></span>
                    </div>

                    <div class="product-contents">
                        <h3 class="product__caption">
                            <a href="product-details-light.html">Fusce Aliquam</a>
                        </h3>
                        <div class="rating-widget">
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star-half"></i></span>
                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                        </div>

                        <div class="product__price">
                            <span class="price--old">$150</span>
                            <span class="price--new">$150</span>
                        </div>
                        <p class="product-info-para">
                            Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..
                        </p>
                        <div class="product__btn">
                            <a href="cart-light.html" class="theme-btn-outlined--type-2">add to cart</a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="belly-product product-style-2">
                    <div class="product__image">
                        <img src="../../../assets/image/products/home-4/product-5.jpg" alt="">
                        <div class="hover-content">
                            <a href="product-details-light.html" class="hover-image">
                                <img src="../../../assets/image/products/home-4/product-3.jpg" alt="">
                            </a>
                            <div class="hover-btns">
                                <a href="#" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                <a href="compare-light.html" class="single-btn"><i class="ion-md-options"></i></a>
                                <a href="#" class="single-btn" role="button" class="btn btn-primary" data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                            </div>
                        </div>
                        <span class="product-badge badge--sell-green"></span>
                    </div>

                    <div class="product-contents">
                        <h3 class="product__caption">
                            <a href="product-details-light.html">Fusce Aliquam</a>
                        </h3>
                        <div class="rating-widget">
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star-half"></i></span>
                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                        </div>

                        <div class="product__price">
                            <span class="price--old">$150</span>
                            <span class="price--new">$150</span>
                        </div>
                        <p class="product-info-para">
                            Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..
                        </p>
                        <div class="product__btn">
                            <a href="cart-light.html" class="theme-btn-outlined--type-2">add to cart</a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="belly-product product-style-2">
                    <div class="product__image">
                        <img src="../../../assets/image/products/home-4/product-6.jpg" alt="">
                        <div class="hover-content">
                            <a href="product-details-light.html" class="hover-image">
                                <img src="../../../assets/image/products/home-4/product-3.jpg" alt="">
                            </a>
                            <div class="hover-btns">
                                <a href="#" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                <a href="compare-light.html" class="single-btn"><i class="ion-md-options"></i></a>
                                <a href="#" class="single-btn" role="button" class="btn btn-primary" data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                            </div>
                        </div>
                        <span class="product-badge badge--sell-green"></span>
                    </div>

                    <div class="product-contents">
                        <h3 class="product__caption">
                            <a href="product-details-light.html">Fusce Aliquam</a>
                        </h3>
                        <div class="rating-widget">
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star-half"></i></span>
                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                        </div>

                        <div class="product__price">
                            <span class="price--old">$150</span>
                            <span class="price--new">$150</span>
                        </div>
                        <p class="product-info-para">
                            Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..
                        </p>
                        <div class="product__btn">
                            <a href="cart-light.html" class="theme-btn-outlined--type-2">add to cart</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="pagination-widget">
            <div class="row align-items-sm-center">
                <div class="col-sm-6 text-sm-left">
                    <div class="site-pagination">
                        <a href="#" class="single-pagination">|<</a>
                        <a href="#" class="single-pagination">
                            <</a>
                                <a href="#" class="single-pagination">1</a>
                                <a href="#" class="single-pagination">2</a>
                                <a href="#" class="single-pagination">></a>
                                <a href="#" class="single-pagination">>|</a>
                    </div>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <p class="mt-0 mt-sm-3">
                        Showing 1 to 9 of 11 (2 Pages)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>